@import '../colors/colors.styl'

--bg = --orange0
--btn-primary = --orange1
--btn-primary-border = --orange2

.layout
	height: 100vh
	width: 100%
	overflow: scroll
	font-weight: 500
	background-color: --bg

	.am-button-primary
		background-color: --btn-primary
		border-color: --btn-primary-border
		color: --brown2
