<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Webpack PWA">
	<link rel="apple-touch-icon" href="images/196.png">
	<title>Body Record</title>
</head>
<body>
	<div id="root"></div>
	<noscript>
		you should enable javascript to see this page.
	</noscript>
</body>
</html>
