.record-page
	padding: 10px
	max-height: 100vh

	&__selected-info
		display: flex
		flex-wrap: wrap

		h4
			flex-shrink: 0
			width: 100%
			text-align: center

		> div
			width: 50%
			text-align: center

