.date-range-form
	&__setting-buttons
		display: flex
		padding: 10px 5px
		overflow: scroll
		justify-content: center

		.am-button
			width: 54px
			height: 20px
			flex-shrink: 0
			margin-right: 10px
			font-size: 14px
			padding: 0
			line-height: 20px

	&__dates
		display: flex
		justify-content: space-around
		margin-bottom: 5px
